.countdown {
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(4, 1fr);

  h2 {
    display: flex;
    gap: 0.5rem;
    font-weight: normal;
  }

  &__box {
    background-color: #131212;
    border-radius: 0.25rem;
    white-space: nowrap;
    display: flex;
    align-items: center;
    justify-content: center;
    width: calc((100vw / 2) - 2rem);
    max-width: 12rem;
    aspect-ratio: 1;
    position: relative;
  }

  &__unit {
    position: absolute;
    top: 1rem;
    left: 50%;
    transform: translateX(-50%);
    font-weight: bold;
    color: #312f2f;
  }

  &__time {
    display: inline-flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 1rem;
    font-size: 5rem;
  }
}

@media (max-width: 1000px) {
  .countdown {
    grid-template-columns: repeat(2, 1fr);

    &__time {
      font-size: 3.2rem;
    }
  }
}
