@import './reset';
@import './fonts';

body {
  font-family: 'Gilroy', sans-serif;
  font-family: 'Manrope', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
  font-weight: normal;
  text-transform: uppercase;
  font-weight: 800;
}

p {
  font-weight: 300;
}
